@{
    Layout = "_EmployeeLayout";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Manager Dashboard</title>
</head>
<body>
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Expense Request | Senior Manager </h4>
            </div>
            <div class="card-body">
                <div class="button mb-4">
                    <button class="btn btn-primary button " type="button" onclick="return RequestTable()">Request</button>
                    <button class="btn btn-primary button " type="button" onclick="return RejectTable()">Rejected</button>
                    <button class="btn btn-primary button " type="button" onclick="return AllTable()">All</button>
                </div>
                <table class="table table-hover dt-responsive table-striped nowarp" style="width:100%" id="tabelExpense">
                    <thead class="table-info head-table text-center">
                        <tr class="bg-primary column-tab">
                            <th scope="col" class="text-light text-center">Id</th>
                            <th scope="col" class="text-light text-center">Name</th>
                            <th scope="col" class="text-light text-center">Date Request</th>
                            <th scope="col" class="text-light text-center">Total</th>
                            <th scope="col" class="text-light text-center">Purpose</th>
                            <th scope="col" class="text-light text-center status">Action</th>
                        </tr>
                    </thead>
                    <tbody class="text-dark" id="listExpense">
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Modal Detail Employee-->
    <div class="modal fade" id="DetailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Expense Detail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="container-fluid">
                            <div class="row infoo" id="info">

                            </div>
                            <div class="row">
                                <div class="basic-form form-group col-xl-12">
                                    <label class="text-dark" for="inputState">Description</label>
                                    <textarea class="form-control text-dark" rows="2" id="desc" name="message" disabled></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <div class="table-responsive">
                                        <table class="table header-border table-responsive-sm " id="dataTableForm" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>Recipt Date</th>
                                                    <th>Category</th>
                                                    <th>Total</th>
                                                    <th>Payee</th>
                                                    <th>Attachments</th>
                                                </tr>
                                            </thead>
                                            <tbody class="text-dark" id="datail">
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Gambar-->
    <div class="modal fade" id="DetailModalimage" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Attachment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col text-center col-xl-12">
                                <img id="images" src="" width="480">
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Reject -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Reject</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row reject-modal">

                        </div>

                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="basic-form form-group col-xl-12">
                                <label for="inputState" class="text-dark">Description</label>
                                <div class="form-group">
                                    <textarea class="form-control" rows="4" id="managercomment" name="message"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" onclick="return Reject()">Reject!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

@section Scripts
    {
    <script src="~/js/site.js"></script>
    <script src="~/js/SManagerJS.js"></script>
}