@{
    Layout = "_EmployeeLayout";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Focus - Bootstrap Admin Dashboard </title>

</head>

<body>
    <div class="container-fluid">
        <!-- Data -->
        <div class="card">
            <div class="card-header">
                <h4 class="card-title expense-title">Expense Request # <span value=""></span></h4>
            </div>
            <div class="card-body">
                <form class="needs-validation" novalidate>

                    <div class="row">

                        <div class="form-group col-xl-6 text-dark">
                            <label for="inputState">Approver : <span id="Approver"></span> </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-xl-6 text-dark">
                            <label for="inputState">Purpose</label>
                            <input type="text" class="form-control input-default" placeholder="" id="Purpose" value="">
                        </div>
                    </div>

                    <div class="row">
                        <div class="basic-form form-group col-xl-6 text-dark">
                            <label for="inputState">Description</label>
                            <div class="form-group">
                                <textarea class="form-control" rows="4" id="Description"></textarea>
                            </div>
                        </div>
                    </div>



                </form>

                <button class="btn btn-primary mb-3 hide-btn" type="button" onclick="return InsertForm()">Add Expense Form&nbsp;&nbsp;<i class="fas fa-plus" style="size: 9x"></i> </button>
                <table id="Formtable" class="table table-hover dt-responsive table-striped nowarp" style="width:100%">
                    <thead class="table-info head-table text-center">
                        <tr class="bg-primary column-tab">
                            <th scope="col" class="text-light text-center"> Date </th>
                            <th scope="col" class="text-light text-center"> Category </th>
                            <th scope="col" class="text-light text-center"> Payee </th>
                            <th scope="col" class="text-light text-center"> Description </th>
                            <th scope="col" class="text-light text-center"> Amount </th>
                            <th scope="col" class="text-light text-center"> Action </th>
                        </tr>
                    </thead>
                    <tbody class="text-dark">
                        <tr>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-6 text-dark">
                        <label for="inputState">Status History <i class="fas fa-history"></i></label>
                        <textarea class="form-control" rows="5" id="History" disabled></textarea>
                    </div>

                    <div class="col-xl-6 text-dark">
                        <label for="inputState">Total Expense </label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Rp.</span>
                            </div>
                            <input id="Total" type="number" class="form-control" placeholder="Rp.0" aria-label="Default" aria-describedby="inputGroup-sizing-default" step="0.01" disabled>
                        </div>
                        <div class="mt-4">
                            <button class="btn btn-success hide-btn" type="button" onclick="return Submit()">Submit Expense</button>
                            <button class="btn btn-primary hide-btn" type="button" onclick="return SaveExit()">Save & Exit</button>

                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

        <!-- Modal Detail Employee-->
        <div class="modal fade" id="DetailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Expense Detail</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="container-fluid">
                                <div class="row" id="info">

                                </div>
                                <div class="row">
                                    <div class="basic-form form-group col-xl-12">
                                        <label for="inputState">Description</label>
                                        <textarea class="form-control" rows="2" id="desc" name="message" disabled></textarea>
                                    </div>
                                </div>
                                <div class="row center">
                                    <div class="text-center col-xl-12">
                                        <label for="inputState"> Your file </label>
                                        <br />
                                        <img id="attc" src="#" width="180" length="180" />
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
    
</html>

@section Scripts
    {
    <script src="~/js/site.js"></script>
    <script src="~/js/ExpenseJS.js" > </script>
}