@{
    Layout = "_EmployeeLayout";
}
<!DOCTYPE html>
<html lang="en">
<head>
</head>

<body>
    <div class="container-fluid">
        <!-- row -->
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Request</h4>
            </div>
            <div class="card-body">
                <form class="needs-validation" enctype="multipart/form-data" novalidate>
                    <div class="row date-input">
                        <div class="form-group col-xl-6">
                            <label>Receipt Date <span class="text-danger">*</span></label>
                            <input type="date" name="datepicker" class="form-control" id="Receipt_Date" placeholder="Receipt Date" required>
                        </div>
                        <div class="form-group col-xl-3">
                            <div class="example">
                                <p class="mb-1">From <span class="text-danger">*</span> </p>
                                <input type="date" name="datepicker1" class="form-control" id="Start_Date" placeholder="Date From" required>
                            </div>
                        </div>
                        <div class="form-group col-xl-3">
                            <div class="example">
                                <p class="mb-1">To <span class="text-danger">*</span> </p>
                                <input type="date" name="datepicker2" class="form-control" id="End_Date" placeholder="Date To" required>
                            </div>
                        </div>
                    </div>

                    <div class="row category-total-input">
                        <div class="form-group col-xl-6">
                            <label for="Category">Category <span class="text-danger">*</span> </label>
                            <select id="Category" class="form-control form-control" required>
                                <option disabled selected="selected" value="">Choose...</option>
                                <option value="0">Transportation</option>
                                <option value="1">Parking</option>
                                <option value="2">Medical</option>
                                <option value="3">Lodging</option>
                            </select>
                        </div>
                        <div class="form-group col-xl-6">
                            <label for="Category">Money Spent <span class="text-danger">*</span></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Total Amount Rp.</span>
                                </div>
                                <input id="Total" type="number" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" step="0.01" required>
                            </div>
                        </div>
                    </div>

                    <div class="row payee-travel-input">
                        <div class="form-group col-xl-6">
                            <label for="inputState">Travel destination State</label>
                            <input type="text" class="form-control input-default " placeholder="Travel destination State" id="Destination">
                        </div>
                        <div class="form-group col-xl-6">
                            <label for="Payee">Payee <span class="text-danger">*</span></label>
                            <input type="text" class="form-control input-default " placeholder="Who recive the payment" id="Payee" required>
                        </div>
                    </div>

                    <div class="row description-input">
                        <div class="basic-form form-group col-xl-12">
                            <label for="inputState">Description</label>
                            <div class="form-group">
                                <textarea class="form-control" rows="4" id="Description">
                                </textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row attachment-input">
                        <div class="form-group col-xl-6">
                            <div class="custom-file">
                                <label for="">Attachment/Receipt <span class="text-danger">*</span> </label>
                                <input type="file" class="form-control input-default" id="Attachments" required>
                            </div>
                            <div class="mt-4">
                                <button class="btn btn-primary Save-Exit" type="button" onclick="return ValidateEmployee(1)">Save and Exit</button>
                                <button class="btn btn-primary" type="button" onclick="return ValidateEmployee(2)">Add Another</button>
                                <button class="btn btn-primary" type="button" onclick="return Cancel()">Cancel</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</body>
</html>


@section Scripts
    {
    <script src="~/js/site.js"></script>
    <script src="~/js/FormJS.js"></script>
}