@{
    Layout = "_EmployeeLayout";
}

<h3>Single Upload</h3>
<form method="post" enctype="multipart/form-data">
    File <input id="files" type="file" name="file" /> <button type="button" onclick="return SaveExit()"></button>
</form>
<img src="https://localhost:44350/Images/Untitled222.png" alt="Alternate Text" />
<img src="https://localhost:44350/Images/KTP_Bagoes_FIkri.jpg" alt="Alternate Text" />


@section Scripts
    {
    <script src="~/js/FileJS.js"></script>
}