@{
    Layout = "_EmployeeLayout";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    @*<img alt="Qries" src="https://drive.google.com/uc?id=19PSwjJUYGifr3S9RKHTGomYRApUd_W9O" width="480" legth="480">*@
    <img id="images" src="" width="480" legth="480">

</div>

@section Scripts
    {
    <script src="~/js/site.js"></script>
    <script src="~/js/ManagerJS.js"></script>
}